/* цвета
основной текст заготовков #212121
 текст #757575
 цвет логотипа #2196F3
 цвет акцент #2196F3*/

:root {
  --logo-color: #212121;
  --logo-span: #2196f3;
  --colore-heading: #212121;
  --colore-text: #757575;
  --colore-backgraund: #e5e5e5;
  --colore-focus: #2196f3;
  --colore-auth-nav: #757575;
}
/* font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em; */

body {
  background-color;
  color: var(--colore-heading);
  font-family: Roboto, cursive;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
/* логотип */
.logo {
  color: var(--logo-color);
  font-family: Raleway, cursive;

  font-size: 26px;
  font-style: 700;
  line-height: 1.19;
  text-decoration: none;
}
.logo > span {
  color: var(--logo-span);
}
/* навигация */

.site-nav .link {
  color: var(--colore-heading);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--colore-focus);
}

.auth-nav .link {
  color: var(--colore-auth-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--colore-focus);
}
.list {
  list-style: none;
}

/* герой */
/* font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase; */
.hero-text {
  color: #ffffff;
  background-color:#F5F4FA;
  font-weight: 900;
  font-size: 44px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 0.06em;
  
}
.hero-button {
color: #ffffff;
background-color:#2196F3;
font-weight: 900;
font-size: 16px;
line-height: 1,87;
text-decoration: ;
}
/* section 1 */
.section-heading {
color: var(--colore-heading);
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.section-text {
color: var(--colore-text);
font-weight: 400;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
}
 /* section 2 робота */
 .section-work .heading {
color: var(--colore-heading);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
 }
 
.section-work .title{
 color: #ffffff;
 background-color: #757575;
 font-weight: 700;
 font-size: 14px;
 line-height: 1.16;
 
}

/* команда */
.section-team .heading {
color: var(--colore-heading);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

}
.section-team .people{
color: var(--colore-heading);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}
.people > span {
    color: #757575;
    font-weight: 400;
}